@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#hero {
  background-image: radial-gradient(
    farthest-corner at 10px 10px,
    #0020ac 0%,
    #7ccfff 100%
  );
  min-height: 500px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow: hidden;
}

#userAccount {
  text-align: center; 
  top: 5%;
  font-size: 1rem;
  color: white;
  position:absolute;
  font-family: poppins, sans-serif;
}

.highlight {
  font-weight: 600;
}

#systemStatus {
  text-align: left; 
  font-size: 5rem;
  text-decoration-line: underline;
  text-underline-offset: .8rem;
  color: white;
  top: 34%;
  left: 14.5%;
  position:absolute;
  font-weight:500;
  font-family: poppins, sans-serif;
}

#heroText {
  text-align: left;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  left: 15%;
  top: 28%;
  position:absolute;
  font-family: poppins, sans-serif;
  font-weight: 300;
}

#heroIcon {
  height: 220px;
  width: 220px;
  left: 4%;
  top: 30%;
  position:absolute;
}